#intro-container {
    display: grid;
    justify-content: center;
    text-align: center;
}

.main-container {
    display: grid;
    margin: 2rem auto;
    width: 1000px;
}

    div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2rem;
    }

#about-me-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5rem;
}

    .tech-stack-content, .tech-stack-content-2 {
        display: flex;
        flex-wrap: wrap;
        padding: 2rem;
    }

    .about-me-heading {
        display: flex;
        margin-bottom: 2rem;
    }

#projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5rem;
}

    .projects-heading {
        display: flex;
        margin-bottom: 2rem;
    }

#networking-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem;
    justify-content: center;
}

    /* #networking-heading {
        display: flex;
        justify-content: center;
    } */


    .linkedin-contents, .github-contents, .contact-info-contents {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

.nav-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
    
    .nav-container-parent {
        position: sticky;
        top: 0;
        z-index: 100;
    }