* {
    font-family: 'Crimson Text', serif;
    margin: 0;
    text-decoration: none;
}

body {
    background: rgb(141, 141, 141);
}

a:link {
    color: gold;
    background-color: transparent;
}

a:visited {
    color: goldenrod;
    background-color: transparent;
}

a:hover {
    color: rgb(153, 153, 153);
}

header {
    background-color: black;
    opacity: 90%;
}

#main-photo {
    border-radius: 50%;
}

.fa-phone-square-alt {
    padding: 28px;
    color: goldenrod;
}

footer {
    color: goldenrod;
    background: black;
    text-align: center;
    opacity: 90%;
}

/* Intro Code */

#intro-container {
    display: grid;
    justify-content: center;
    text-align: center;
    background-image: url(/Images/keyboard.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 2%;
    height: 450px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 8%;
}

.intro-hr {
    color: goldenrod;
    background-color: goldenrod;
    margin: 5px;
    margin-top: 8px;
}

.inner-intro-container {
    display: grid;
    grid-template-columns: auto auto;
}

.inner-intro-text-container {
    margin-bottom: 1rem;
    margin-top: 40%;
    margin-left: 15%;
    padding: 1rem;
    height: 70px;
    width: 300px;
    color: goldenrod;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.452);
    border: goldenrod solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main-photo {
    height: 350px;
    width: auto;
    margin-top: 10%;
    border: solid goldenrod;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Nav Code */

.nav-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
    
    .nav-container-parent {
        position: sticky;
        top: 0;
        z-index: 100;
    }

/* About Me Code */

#about-me-container {
    width: 80%;
    height: auto;
    background-color: lightgray;
    padding: 2rem;
    margin: 8%;
    border: goldenrod solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-me-hr {
    margin: 1rem;
}

.about-me-heading,
.about-me-bio-heading,
.about-me-content,
.about-me-tech-heading,
.about-me-statement,
.about-me-tech-content {
    padding: 0.5rem;
    text-align: center;
}

/* Projects Code */

#projects-container {
    width: 80%;
    height: auto;
    background-color: lightgray;
    padding: 2rem;
    margin: 8%;
    border: goldenrod solid;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.projects-heading {
    margin-bottom: 12px;
}

.inner-projects-container {
    display: grid;
    grid-template-rows: auto auto auto;
}

.weather-project-container,
.blog-project-container,
.rogue-project-container {
    display: grid;
    grid-template-rows: auto auto auto;
    margin: 1rem;
    background-color: gray;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-link {
    padding: 1rem;
}

.project-desc {
    background-color:rgb(141, 141, 141);
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: goldenrod solid;
    text-align: ;
}